<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    <script type="text/javascript" src="//use.typekit.net/ina5fnd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/header" %>

    <section class="main">
      <article class="video">
        <div class="video-container">
          <iframe width="960" height="720" src="<%= current_article.data.video %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <section class="video-text">
          <h1><%= current_article.title %></h1>
          <time><%= current_article.date.strftime('%b %e') %></time>
          <%= yield %>
        </section>
      </article>
    </section>

    <%= partial "layouts/footer" %>

  </body>
</html>

