<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/ico" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Philly.rb" %></title>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    <script type="text/javascript" src="//use.typekit.net/ina5fnd.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">

    <%= partial "layouts/header" %>

    <section class="main">
      <%= yield %>
    </section>

    <%= partial "layouts/footer" %>

  </body>
</html>
