---
title: Philly.rb
---

<section class="hero">
  <div class="wrapper">
    <h1>Philly.rb is the one and only user group in Philadelphia dedicated to helping Ruby enthusiasts learn, network, and socialize.</h1>
  </div>
</section>

<div class="wrapper">
  <section class="next-event">
    <article class="next-event-information"></article>
    <div id="map" class="next-event-map"></div>
  </section>

  <ul class="about-phillyrb">
    <li class="network">
      <h1>Network</h1>
      <p>Gain access to a growing community of Ruby programmers and enthusiasts. </p>
    </li>
    <li class="learn">
      <h1>Learn</h1>
      <p>Our monthly presentations are great for gaining in-depth knowledge on current Ruby and Rails topics. </p>
    </li>
    <li class="socialize">
      <h1>Socialize</h1>
      <p>Between pub nights and our lunches, we have plenty of chances to get together and shoot the shit.</p>
    </li>
  </ul>

  <hr />

  <section class="news-section">
    <article class="last-months-presentation">
      <% if blog.articles[0].data.video %>
        <div class="video">
          <iframe width="960" height="720" src="<%= blog.articles[0].data.video %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <section class="about-presentation with-video">
      <% else %>
        <section class="about-presentation">
      <% end %>

        <h1>Video of our last event</h1>

        <h2><%= link_to blog.articles[0].title, blog.articles[0].url %></h2>
        <div><%= blog.articles[0].summary(200) %></div>
        <time><%= blog.articles[0].date.strftime('%b %e, %Y') %></time>

      </section>
    </article>

    <section class="latest-blog-posts">
      <h1>Videos from past events</h1>

      <ol>
        <% blog.articles[1...3].each do |article| %>
          <li class="post">
            <h2><%= link_to article.title, article %></h2>
            <div><%= article.summary(80) %></div>
            <time><%= article.date.strftime('%b %e, %Y') %></time>
          </li>
        <% end %>
      </ol>
    </section>
  </section>

  <hr />

  <ul class="connect-with">
    <li>
      <h1>#philly.rb</h1>
      <p>Chat with some of our community members on our IRC channel. <a href="irc://irc.freenode.net/#philly.rb">Join IRC</a></p>
    </li>
    <li>
      <h1>@phillyrb</h1>
      <p>All community updates and new events are promoted from our twitter account. <a href="http://twitter.com/phillyrb">Follow @phillyrb</a></p>
    </li>
    <li>
      <h1>Mailing list</h1>
      <p>Works as our communites forum. Ask questions about Ruby, Rails, Javascript and&nbsp;more. <a href="https://groups.google.com/forum/#!forum/phillyrb">Join the google group</a></p>
    </li>
  </ul>

  <hr />

  <section class="sponsors">
    <h1>Please thank our sponsors. Without them this all wouldn&rsquo;t be possible.</h1>
    <ul>
      <li class="sponsor comcast"><a href="http://labs.xfinity.com/">Comcast</a></li>
      <li class="sponsor pipeline"><a href="https://www.pipelinedeals.com/">Pipeline</a></li>
      <li class="sponsor haydle"><a href="http://haydle.com/">Haydle</a></li>
      <li class="sponsor thoughtbot"><a href="http://thoughtbot.com">thoughtbot</a></li>
      <li class="contact"><p>Looking to become a sponsor or host? <a href="mailto:j.dharrie@gmail.com">Contact us</a></p></li>
    </ul>
  </section>

  <hr />

  <section class="badges">
    <h1>Throw one of these badges up on your site and show your membership with pride.</h1>
    <ul>
      <li><img src="/images/member-badge-full-color.png" alt="" /></li>
      <li><img src="/images/member-badge-red.png" alt="" /></li>
      <li><img src="/images/ruby-bell-full-color.png" alt="" /></li>
      <li><img src="/images/ruby-bell-red.png" alt="" /></li>
    </ul>
  </section>
</div>

<script type="text/html" id="event-tmpl">
  <header>
    <h1>Our Next Event</h1>
    <h2>{{ event.name }}</h2>
    <h3><time>{{ event.time }}</time></h3>
  </header>
  <h4><a href="{{ event.mapUrl }}">{{ event.venueName }}</a></h4>
  <p class="address">{{ event.address }}</p>
  <div class="description">
    {{ event.description }}
  </div>
  <a href="{{ event.url }}" class="rsvp">RSVP on Meetup</a>
</script>

<script type="text/html" id="event-map-tmpl">
  <header>
    <h1>{{ event.venueName }}</h1>
  </header>
  <p class="address">{{ event.address }}</p>
</script>

<script>
  $(document).ready(function () {
    require(['app'], function (App) {
      new App();
    });
  });
</script>
